<div id="content">
    <div class="card-title">
        <h1 class="title">Hambúrguer do povão</h1>
        <h3 class="data">19/01/2023</h3>
        <h2 class="title1"> Autor: <span>{{ name }} </span></h2>
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div class="img">
                <img src="https://img.freepik.com/fotos-gratis/meia-dose-de-delicioso-sanduiche-de-carne-com-tomate-verde-na-bandeja-de-cor-escura-na-superficie-desfocada_179666-42599.jpg" alt="hambúrguer">
            </div>
           
        </div>
       <div class="card">
            <div class="ingredientes">
                <h3>Ingredientes</h3>
                <ul>
                    <li>1 xícara (chá) de abobrinha ralada no ralo fino</li>
                    <li>1/5 colher (chá) de sal</li>
                    <li>Meia cebola pequena ralada</li>
                    <li>400 g de carne moída</li>
                    <li>4 colheres (sopa) de Farelo de Aveia Orgânica Nestlé</li>
                    <li>1 xícara (chá) de abobrinha ralada no ralo fino</li>
                </ul>
                    <br/>
                <h3>Modo de Preparo</h3> 
                <p>- Em um recipiente, misture todos os ingredientes até ficar homogêneo.</p>
                <p>- Modele 12 hambúrgueres médios e coloque em uma forma untada com azeite. Leve ao forno médio (180ºC), preaquecido por cerca de 30 minutos, virando na metade do tempo.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card_rodape">Patrocinadores e criadores do site</h3>
        <p class="card_rodape">IFRN | Rei das Sacolas.</p>
        <a class="card_rodape" href=".."> <p>Voltar</p> </a>
    </div>
</div>
