<div id="content">
   
    <div id="conteiner">
        <div id="sidebar">
            <div class="img">
                <img src="https://imgsapp2.uai.com.br/app/noticia_133890394703/2016/05/10/179722/20160510090817136492i.jpg" alt="hambúrguer">
            </div>
           
        </div>
       
        <div class="card">
            <h3>Informações do autor da receita</h3>             
            <ul id="">
                <li><b>Nome:</b> Érick Jacquin</li>
                <li><b>Profissão:</b> Chef de Cozinha</li>
                <p>
                    É um chef de cozinha francês, naturalizado brasileiro, que atua na América Latina. Tornou-se mais conhecido após entrar como jurado no talent show MasterChef, 
                    transmitido no Brasil pela Rede Bandeirantes e pelo Discovery Home & Health.
                </p>
           
            </ul>
       
        </div>
    </div>
    <div class="card">
        <h3 class="card_rodape">Patrocinadores e criadores do site</h3>
        <p class="card_rodape">IFRN | Rei das Sacolas.</p>
        <a class="card_rodape" href=".."> <p>Voltar</p> </a>
    </div>
</div>
