<div id="content">
    <div class="card-title">
        <h1 class="title">Creme de avelã</h1>
        <h3 class="data">06/02/2023</h3>
        <h2 class="title1"> Autor: <span>{{ name }} </span></h2>
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div class="img-receitas">
                <img src="https://pubimg.band.uol.com.br/files/0efa216093e278c7c8f0.png" alt="hambúrguer" width="90%" height="360px">
            </div>
        </div>
       <div class="card">
            <div class="ingredientes">
                <h3>Ingredientes</h3>
                <ul>
                   <p> Creme de avelã</p>
                    200 grama(s) de avelã
                    400 ml(s) de creme de leite fresco
                    50 grama(s) de cebola picada
                    sal a gosto
                    pimenta a gosto
                    <p>
                    Carpaccio de vieiras </p>
                    100 grama(s) de vieiras
                    sal a gosto
                    pimenta a gosto
                    <p>Mil folhas de vieiras</p>
                    50 grama(s) de vieiras
                    50 grama(s) de uva thompson
                    1 unidade(s) de limão siciliano (raspas)
                    10 grama(s) de ovas de tainha
                    sal a gosto
                    pimenta a gosto
                    
                </ul>
                    <br/>
                <h3>Modo de Preparo</h3> 
                <p>
                    Triture as vieiras, coloque-as no vácuo e cozinhe no vapor durante quatro minutos. Depois, posicione com o cortador de metal e sele na frigideira com manteiga – apenas de um lado. Reserve. Depois, refogue a cebola junto com a avelã, acrescente creme de leite, reduza e bata no liquidificador. Corrija o sal e a pimenta, e deixe esfriar. Na sequência, corte as vieiras e as uvas em lâminas para a finalização. Adicione raspas de limão. 

                </p>
               
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card_rodape">Patrocinadores e criadores do site</h3>
        <p class="card_rodape">IFRN | Rei das Sacolas.</p>
        <a class="card_rodape" href=".."> <p>Voltar</p> </a>
    </div>
</div>
