<div id="content">
   
    <div id="conteiner">
        <div id="sidebar">
            <div class="img">
                <img src="https://f.i.uol.com.br/fotografia/2022/07/04/165695148362c312bbafe57_1656951483_3x2_md.jpg" alt="hambúrguer">
            </div>
           
        </div>
       
        <div class="card">
            <h3>Informações do autor da receita</h3>             
            <ul id="">
                <li><b>Nome:</b> Ana Maria Braga</li>
                <li><b>Profissão:</b> Chef de Cozinha</li>
                <li><b>Idade:</b> 73 anos</li>
                <li><b>Nascimento:</b> 1 abril 1949</li>
                <li><b>Site:</b> <a target="_blank"
                        href="https://anamariabraga.globo.com/receita/estrogonofe-de-frango/">Visite o site</a></li>
            </ul>
       
        </div>
    </div>
    <div class="card">
        <h3 class="card_rodape">Patrocinadores e criadores do site</h3>
        <p class="card_rodape">IFRN | Rei das Sacolas.</p>
        <a class="card_rodape" href=".."> <p>Voltar</p> </a>
    </div>
</div>
