<div id="content">
    <div class="card-title">
        <h1 class="title">Bombom caramelo</h1>
        <h3 class="data">06/02/2023</h3>
        <h2 class="title1"> Autor: <span>{{ name }} </span></h2>
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div class="img-receitas">
                <img src="https://pubimg.band.uol.com.br/files/3acb71be1adf50f9d92e.jpg" alt="hambúrguer" width="90%" height="360px">
            </div>
        </div>
       <div class="card">
            <div class="ingredientes">
                <h3>Ingredientes</h3>
                <ul>
                   <p>
                    375 grama(s) de açúcar refinado
                    300 grama(s) de xarope de milho
                    500 ml(s) de creme de leite fresco
                    1 fava(s) de baunilha
                    1 pitada(s) de sal
                    75 grama(s) de manteiga gelada
                    300 grama(s) de bacon em fatias
                   </p>
                   
                    
                </ul>
                    
               
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card_rodape">Patrocinadores e criadores do site</h3>
        <p class="card_rodape">IFRN | Rei das Sacolas.</p>
        <a class="card_rodape" href=".."> <p>Voltar</p> </a>
    </div>
</div>
